<div class="container-fluid">                
    <div class="row">
        <div class="col-12">
            <div class="text-slider">
                <ul class="list-inline mb-0 move-text">
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-1.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-2.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-3.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-4.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-5.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-6.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-7.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-8.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-9.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-10.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-11.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-12.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-13.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-14.png"/>
                    </li>
                    <li class="list-inline-item small px-2 mb-0">
                        <img src="assets/images/expo/sponsors/sponsor-15.png"/>
                    </li>
                </ul>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
